<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="form-group" ng-controller="websocket">
        <!--label>Websocket Output: </label>
        <textarea type="text" ng-model="websocketdata" class="form-control"></textarea-->
        <nvd3-multi-bar-chart data="twitterdata" transitionduration="50" interactive="true" showControls="true" tooltips="true" height="700" showXAxis="true" showYAxis="true"
                              showLegend="true"
                              rotateLabels="90">
        </nvd3-multi-bar-chart>
    </div>
</div>
